/* style portofolio */


/* GLOBAL */
body{
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    background-color: rgb(192, 165, 131);
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.subhead{
    font-size: 1.7rem;
    text-align: center;
    text-transform: uppercase;
}

/* header*/


header{
    background-color: rgb(68, 57, 43);
    color: bisque;
    min-height: 60px;
    border-bottom: chocolate 5px solid;
    padding: 2rem 0;
}

header #branding{
    font-size: 2rem;
}

.branding:hover{
    transform: scale(1.1);
}

header nav{
    float: right;
}
header li {
    display: flex;
    float: left;
    padding: 0 20px 0 20px;
}

header a{
    text-decoration: none;
    font-size: 16px;
    color: bisque;
    text-transform: uppercase;
}

header a:hover{
    border-bottom: bisque solid;
}

header .current{
    color: chocolate;
    font-weight: bold;
}





/* ------------------------------------------ */

#showcase {
    display: flex; /* Ini sudah diatur */
    min-height: 800px;
    flex-direction: row;
    background-color: rgba(205, 151, 94, 0.821);
    align-items: center; /* Menyelaraskan elemen di sepanjang sumbu silang (vertikal) */
    justify-content: center; /* Memberikan ruang di antara elemen showcase-img dan showcase-content */
    padding: 0 4rem 0 4rem;
}

.showcase-img{
    flex: 1;
    justify-content: center;
    max-inline-size: 40%;
}

.showcase-img img {
    position: relative;
    width: 25vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #b74b4b;
    cursor: pointer;
    transition: 0.2s linear;
}

.showcase-content{
    flex: 2;
    max-inline-size: 60%;
    text-align: justify;
}

.showcase-content h1{
    font-size: 4rem;
}

.showcase-content h3{
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.showcase-content p{
    font-size: 1.2rem;
}

span{
    color: rgb(65, 28, 1);
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: rgb(68, 57, 43);
    border-radius: 4rem;
    font-size: 1.6rem;
    color:  chocolate;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid chocolate;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale(1.03); /* Membesar tombol sedikit saat di-hover */
    background-color: chocolate;
    color: black;
    box-shadow: 0 0 25px chocolate;
}

/* -------------------------------------------------- */

#boxes{
    margin-top: 20px;
}

#boxes .box{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

#boxes img{
    width: 200px;
}

/* -------------------------------------------- */

#skills {
    background-color: rgba(205, 151, 94, 0.821);
    color: black;
    padding: 50px;
    display: flex;
}

#skills .box{
    justify-content: space-between;
}

#skills p{
    text-align: center;
}

#skills img{
    width: 20vw;
    height: 30vh;
    border-radius: 10%;
}

/* ----------------------------------------- */
/* education */

/* ----------------------------------------- */
/* experience */

/* ----------------------------------------- */

#boxBot {
    background-color: rgb(68, 57, 43);
    color: bisque;
}

.box{
    float: left;
    text-align: justify;
    width: 45%;
    padding: 10px;
    display: flex; /* Mengaktifkan Flexbox */
    flex-direction: column; /* Mengatur elemen anak dalam kolom */
    justify-content: center; /* Memusatkan konten secara vertikal */
    align-items: center; /* Memusatkan konten secara horizontal */

}

#boxBot img{
    width: 60px;
    padding: 10px;
}

#boxBot p{
    font-size: 1rem;
}

footer{
    padding: 20px ;  
    background-color: rgb(68, 57, 43);
    color: bisque;  
    text-align: center;
}

