/* style portofolio */


/* GLOBAL */
body{
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    background-color: rgb(68, 57, 43);
}

.container{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.subhead{
    font-size: 2.5em;
    font-weight: 700;
    color: #333;
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
}

/* header*/


header{
    background-color: rgb(68, 57, 43);
    color: bisque;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-bottom: chocolate 5px solid;
    position: sticky;
    padding: 20px 0;
    top: 0;
    z-index: 1000;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#branding a {
    font-size: 2rem;
    color: bisque;
    text-decoration: none;
    font-weight: bold;
}

#branding a:hover{
    color: chocolate;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header li {
    margin-left: 20px;
}

nav ul li a{
    text-decoration: none;
    font-size: 16px;
    color: bisque;
    text-transform: uppercase;
    font-weight: 600;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

nav ul li a:hover{
    color: chocolate;
    background-color: bisque;
    border-radius: 5px;
}

nav ul li .current{
    color: chocolate;
    background-color: bisque;
    border-radius: 5px;
    padding: 5px 10px;
}





/* ------------------------------------------ */

#showcase {
    display: flex; /* Ini sudah diatur */
    min-height: 800px;
    flex-direction: row;
    background-color: rgba(205, 151, 94, 0.821);
    align-items: center; /* Menyelaraskan elemen di sepanjang sumbu silang (vertikal) */
    justify-content: center; /* Memberikan ruang di antara elemen showcase-img dan showcase-content */
    padding: 0 4rem 0 4rem;
}

.showcase-img{
    flex: 1;
    justify-content: center;
    max-inline-size: 40%;
}

.showcase-img img {
    position: relative;
    width: 25vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #b74b4b;
    cursor: pointer;
    transition: 0.2s linear;
}

.showcase-content{
    flex: 2;
    max-inline-size: 60%;
    text-align: justify;
}

.showcase-content h1{
    font-size: 4rem;
}

.showcase-content h3{
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.showcase-content p{
    font-size: 1.2rem;
}

span{
    color: rgb(65, 28, 1);
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: rgb(68, 57, 43);
    border-radius: 4rem;
    font-size: 1.6rem;
    color:  chocolate;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid chocolate;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale(1.03); /* Membesar tombol sedikit saat di-hover */
    background-color: chocolate;
    color: black;
    box-shadow: 0 0 25px chocolate;
}

/* -------------------------------------------------- */

#boxes{
    margin-top: 20px;
}

#boxes .box{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

#boxes img{
    width: 200px;
}

#boxes p{
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: bold;
    color: bisque;
}

#boxes .box:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

/* -------------------------------------------- */

#skills .subhead{
    color: #222;
}

#skills {
    background-color: rgba(205, 151, 94, 0.821);
    color: black;
    padding: 50px;
    display: flex;
}

#skills .box{
    justify-content: space-between;
}

#skills p{
    text-align: center;
    font-size: medium;
}

#skills img{
    width: 10vw;
    height: 20vh;
    border-radius: 10%;
}

/* ----------------------------------------- */
/* education */

#education .subhead h1 {
    color: bisque;
}

#education .instansi {
    margin-bottom: 30px;
    padding: 10px;
    background-color: rgba(205, 151, 94, 0.821) ;
    border: 15px solid chocolate;
}

#education .instansi h2 {
    font-size: 1.8em;
    font-weight: 600;
    color: #222;
    margin-bottom: 10px;
}

#education .instansi h3 {
    font-size: 1.4em;
    font-weight: 500;
    color: #222;
    margin-bottom: 15px;
}

#education .instansi p {
    font-size: 1em;
    color: #3d3a37;
    line-height: 1.6;
}

/* ----------------------------------------- */
/* experience */

#experience {
    background-color: rgba(205, 151, 94, 0.821);
    padding: 60px 0;
}

#experience .subhead h1 {
    color: #222;
}

#experience .job {
    margin-bottom: 50px;
    padding: 20px;
    background-color: rgb(68, 57, 43);;
    border: 1px solid rgb(68, 57, 43);;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#experience .job h3 {
    font-size: 1.6em;
    font-weight: 600;
    color: bisque;
    margin-bottom: 10px;
}

#experience .job p em {
    font-size: 1em;
    color: bisque;
}

#experience .job ul {
    padding-left: 80px;
}

#experience .job ul li {
    font-size: 1em;
    color: rgb(153, 143, 131);
    line-height: 1.6;
    margin-bottom: 10px;
    position: relative;
}

/* ----------------------------------------- */

#boxBot {
    background-color: rgb(68, 57, 43);
    color: bisque;
}

.box{
    float: left;
    text-align: justify;
    width: 45%;
    padding: 10px;
    display: flex; /* Mengaktifkan Flexbox */
    flex-direction: column; /* Mengatur elemen anak dalam kolom */
    justify-content: center; /* Memusatkan konten secara vertikal */
    align-items: center; /* Memusatkan konten secara horizontal */

}

#boxBot img{
    width: 60px;
    padding: 10px;
}

#boxBot p{
    font-size: 1rem;
}

#boxBot a{
    text-decoration: none;
    color: bisque;
}

footer{
    padding: 20px ;  
    background-color: rgb(68, 57, 43);
    color: bisque;  
    text-align: center;
}

